<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <body>
        <div id="app">
            <!--ナビゲーションPC-->
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
                <nav class="uk-navbar-container uk-navbar uk-visible@m" >
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav uk-margin-right">
                            <li><a href="file:///Users/nakamuraryusuke/Documents/dev/portfolio/git_practice/index3.html ">NAKAMURA RYUSUKE</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav uk-margin-right">
                            <li><a v-on:click="showContents">PROFILE</a></li>
                            <li><a v-on:click="showContents">WORK</a></li>
                            <li><a v-on:click="showContents">PORTFOLIO</a></li>
                            <li><a v-on:click="showContents">LOG</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--ナビゲーションSP-->
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
                <nav class="uk-navbar-container uk-navbar uk-hidden@m" >
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav uk-margin-right">
                            <li><a href="file:///Users/nakamuraryusuke/Documents/dev/portfolio/git_practice/index3.html">NAKAMURA RYUSUKE Portfolio</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav uk-margin-right uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav">
                        </ul>
                    </div>
                </nav>
            </div>
            <!--オフキャンバス-->
            <div id="offcanvas-nav" uk-offcanvas="flip: true">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-nav-header">MENU</li>
                        <li><a v-on:click="showContents"><span class="uk-margin-small-right"></span>PROFILE</a></li>
                        <li><a v-on:click="showContents"><span class="uk-margin-small-right"></span>WORK</a></li>
                        <li><a v-on:click="showContents"><span class="uk-margin-small-right"></span>PORTFOLIO</a></li>
                        <li><a v-on:click="showContents"><span class="uk-margin-small-right"></span>LOG</a></li>
                    </ul>
            
                </div>
            </div>

            <!--showArea1 : PROFILE-->
            <div class="uk-container uk-container-large uk-margin">
                <transition>
                    <article v-if="showArea " class="uk-article">
                    <h1 class="uk-heading-small">PROFILE</h1>
                    <p class="uk-text-lead">中村颯介 NAKAMURA RYUSUKE</p>
                    <p>27歳 Webデザイナーをしています。将来はWebディレクターとしてキャリアを積みたいと考えているので、まずはモダンなフロントエンドエンジニアとしての現場経験を積みたいと考えています。何卒、よろしくお願いいたします。</p>
                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                        <div>
                            <a class="uk-button uk-button-text" href="#">もっと読む</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-text" href="#">5コメント</a>
                        </div>
                    </div>
                    </article>
                </transition>
            </div> 
            
            <!--showArea2 : WORK-->
            <transition>
            <div v-if="showArea2" class="uk-container uk-container-large uk-margin">
                <h1 class="uk-heading-small">WORK</h1>
                <ul uk-accordion="multiple: true">
                    <li class="uk-open">
                        <a class="uk-accordion-title" href="#">Webデザイナー</a>
                        <div class="uk-accordion-content">
                            <p>Webデザイナーとしての経験をここに書く</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Web企画</a>
                        <div class="uk-accordion-content">
                            <p>ならじかんの企画、コーディング経験をここに書く</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">WordPressテーマ開発</a>
                        <div class="uk-accordion-content">
                            <p>WordPressテーマをUIKITで作成した記録をここに書く</p>
                        </div>
                    </li>
                </ul>
            </div>
            </transition>
        
            <!--showArea3 : PORTFOLIO-->
            <transition>
            <div v-if="showArea3" class="uk-container uk-container-large uk-margin">
                <h2 class="uk-heading-small">PORTFOLIO</h2>
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="images/light.jpg" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Left</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                        <img src="images/light.jpg" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Right</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            </transition>
            <!--showArea4 : LOG-->
            <transition>
            <div v-if="showArea4" class="uk-container uk-container-large uk-margin">
                <form>
                    <fieldset class="uk-fieldset">
                        <h2 class="uk-heading-small">LOG</h2>
                        <div class="uk-margin">
                            <input id="logHeader" class="uk-input" type="text" placeholder="タイトルを入力" v-model="addLogTitle">
                        </div>
                        <div class="uk-margin">
                            <textarea id="logText" class="uk-textarea" rows="5" placeholder="テキストを入れてください" v-model="addLogContent"></textarea>
                        </div>
                    </fieldset>
                </form>
                <div class="uk-margin">
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" @click="addLog">LOGを追加する</button>
                </div>
                <!--ログ追加セクション-->
                <template v-for="log in logs">
                    <h2>{{log.title}}</h2>
                    <p>{{log.content}}</p>
                    <p>AUTOR : NAKAMURA RYUSUKE</p>
                    <hr>
            </template>
            </div>
            </transition>
        </div>            
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="main.js"></script>
        <style>
			/* 現れている最中は、0.5秒 */
			.v-enter-active {
				transition: 0.4s;
			}
            /* 消えている最中は、0.1秒 */
            .v-leave-active {
                transition: 0.1s;
            }
			/* 現れる前の状態と、消えたときの状態は、透明度0で、下へ20移動*/
			.v-enter, .v-leave-to {
				opacity: 0;
				transform: translateY(20px)
			}
		</style>
    </body>
</html>